*{
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Inter, sans-serif;
    background-color: #282D35
}

/* Navbar component */
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    /* padding top bottom 30px and left right 25px */
    padding: 30px 25px; 
    height: 90px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--icon {
    height: 40px;
    margin-right: 7px;
}

.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

/* Main Component */
.div--main {
    margin-top: 60px;
    padding-left: 25px;
    width: 550px;
    height: 460px;
}

.div--h1--main {
    color: #FFFFFF;
    font-weight: 700;
}

.div-ul-main {
    color: #FFFFFF;
    font-weight: 400;
}

.div-ul-main-li {
    padding: 10px;
}

.div-ul-main-li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}